.co {
  width: 100%;
  display: flex;
  justify-content: center;
}

.fo {
  width: 100%;
  /* border: 1px solid gray; */
  border-radius: 10px;
  background-color: #aaaaaa;
  display: flex;
  justify-content: center;
  padding: 4px;
}
