@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("./front-end/fonts/DNFBitBitv2.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "DNFBitBitv2";


  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */