@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("./front-end/fonts/DNFBitBitv2.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "DNFBitBitv2";
  background-image: url("./front-end/imgs/sakura.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
